<div class="main-container">
    <div *ngIf="podcastMetadata" class="card">
        <div class="image">
            <img [src]="podcastMetadata?.image" width="200px" height="200px" />
        </div>
        <div class="title with-border">
            <b>
                {{ podcastMetadata?.name }}
            </b>
            <i>
                {{ podcastMetadata?.artist }}
            </i>
        </div>
        <div class="description with-border">
            <b>
                Description
            </b>
            <i class="description-text">
                {{ podcastMetadata?.summary }}
            </i>
        </div>
    </div>
    <div class="router">
        <router-outlet></router-outlet>
    </div>
</div>
