<div class="main-container">
  <div class="title">Episodes: {{ podcastEpisodes?.results.length }}</div>
  <div class="table">
    <table class="fl-table">
      <thead>
        <th>Title</th>
        <th>Date</th>
        <th>Duration</th>
      </thead>
      <tbody>
        <tr *ngFor="let episode of podcastEpisodes?.results">
          <td>
            <a
              (click)="selectEpisode(episode)"
              [routerLink]="['./episode/' + episode.trackId]"
            >
              {{ episode.trackName }}
            </a>
          </td>
          <td>{{ episode.releaseDate | date : "d/MM/yyyy" }}</td>
          <td>{{ episode.trackTimeMillis | date : "HH:mm:ss" : "UTC" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
